# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Project Specific Data (Massive files!)
src/dataset/reasoning_dataset/dataset_train.txt
src/dataset/reasoning_dataset/dataset_train.pt
*.pt
*.pth

# Model Checkpoints
checkpoints/
stupidlm_checkpoints/

# IDEs and Editor files
.vscode/
.idea/
*.swp
*.swo

# Jupyter / Colab
.ipynb_checkpoints/

# Test downloaded weights
test/*.pt
test/*.json
